.content {
  width: 90vw;
}
.main-div{
  /* display: flex;*/
  justify-content: center;
  align-items: center;
  height: fit-content; /* Make this site really long */
  overflow:hidden;
}

.redText
{
  color: #ff0000;
}

.mat-card {
  width: 90%;
  alignment: top;
  overflow-y: hidden !important;
}

.max-spacer{
   flex: 1 1 auto;
}
.mat-tab-group{
  /* width: fit-content;*/

}

.mat-tab-label {
  width: 50% !important;
}

.inline-block {
  display: inline-block;
  width: 35%;
  margin-left: 60px;
  margin-right: 60px;
  vertical-align:top;
  align-items: center;

}
