.main-div{
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: fit-content; /* Make this site really long */
  overflow:hidden
}

.redText
{
  color: #ff0000;
}

.mat-card {
  width: 80%;
  alignment: top;
}

.max-spacer{
  flex: 1 1 auto;
}
