<div *ngIf="!loggedIn">
  <mat-card>
    <h1>Please log in to see your products</h1>
    <button mat-flat-button color="warn" routerLink="/login"> Log in</button>
  </mat-card>
</div>

<!--***********************************************************************-->

<div *ngIf="loggedIn" class="main-div">
  <mat-tab-group animationDuration="800ms">
    <mat-tab label="My current offers">

      <div *ngIf="approvedProducts.length != 0 || uncheckedProducts.length != 0 || rejectedProducts.length != 0; else listProduct">
      <h2>Posted products waiting to be approved</h2>
      <div *ngFor="let product of uncheckedProducts">
        <mat-card>
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
            <button mat-mini-fab color="primary" [routerLink]="['/edit', product.productId]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="onDelete(product.productId)">
              <mat-icon>delete</mat-icon>
            </button>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

        </mat-card>
      </div>

      <div *ngIf="uncheckedProducts.length === 0">
          <p>No approved products</p>
      </div>

      <mat-divider></mat-divider>

      <h2>Approved products</h2>
      <div *ngFor="let product of approvedProducts">
        <mat-card style="background: #E4EEB5">
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
            <button mat-mini-fab color="primary" [routerLink]="['/edit', product.productId]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="onDelete(product.productId)">
              <mat-icon>delete</mat-icon>
            </button>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

        </mat-card>
      </div>

      <div *ngIf="approvedProducts.length === 0">
        <p>No approved products</p>
      </div>

      <mat-divider></mat-divider>

      <h2>Rejected products</h2>
      <div *ngFor="let product of rejectedProducts">
        <mat-card style="background: #FFDAC9">
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
            <button mat-mini-fab color="primary" [routerLink]="['/edit', product.productId]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="onDelete(product.productId)">
              <mat-icon>delete</mat-icon>
            </button>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

          <p class="redText"><strong>Rejection reason: </strong>{{product.rejectionReason}}</p>


        </mat-card>
      </div>

      <div *ngIf="rejectedProducts.length === 0">
        <p>No rejected products</p>
      </div>
      </div>

      <ng-template #listProduct>
        <mat-card>
          <h2>You have no listed products at the moment <br></h2>
          <button mat-flat-button routerLink="/add-offer" color="primary">
            <mat-icon>add</mat-icon>  List a new offer
          </button>
        </mat-card>
      </ng-template>

    </mat-tab>

    <!--**************************** Acquired *******************************-->

    <mat-tab label="acquired">

      <div *ngIf="boughtProducts.length != 0 || lentProducts.length != 0 || usedServices.length != 0; else lookProducts">
      <h2>Bought products</h2>
      <div *ngFor="let product of boughtProducts">
        <mat-card>
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

        </mat-card>
      </div>

      <div *ngIf="boughtProducts.length === 0">
        <p>You haven't bought any products yet</p>
      </div>

      <mat-divider></mat-divider>

      <h2>Lent products</h2>
      <div *ngFor="let product of lentProducts">
        <mat-card>
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

        </mat-card>
      </div>

      <div *ngIf="lentProducts.length === 0">
        <p>You haven't lent any products yet</p>
      </div>

      <mat-divider></mat-divider>

      <h2>Used services</h2>
      <div *ngFor="let product of usedServices">
        <mat-card>
          <h2>
            <a [title]="product.title + ' details'">
              {{ product.title }}
            </a>
            <span class="redText">
              <b>{{ product.price }}CHF</b>
            </span>
            <span class="max-spacer"></span>
          </h2>

          <p *ngIf="product.description">
            {{ product.description }}
          </p>

        </mat-card>
      </div>

      <div *ngIf="usedServices.length === 0">
        <p>You haven't used any services yet</p>
      </div>
      </div>

      <ng-template #lookProducts>
        <mat-card>
          <h3>You haven't bought or lent any products yet</h3>
        </mat-card>
      </ng-template>

    </mat-tab>

    <!--**************************** Bookmarks *******************************-->

    <mat-tab label="Bookmarks">
      <app-bookmarks></app-bookmarks>
    </mat-tab>

  </mat-tab-group>


</div>
