<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add administrators
            </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-selection-list #users>
                    <mat-list-option *ngFor="let user of allUsers">
                        {{user}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
