<!-- list of products-->
<div *ngFor="let product of products">
  <mat-card>
    <h2>
      <a [title]="product.title + ' details'">
        {{ product.title }}
      </a>
      <span class="redText">
        <b>CHF {{ product.price | number:'1.2-2' }}</b>
      </span>
    </h2>

    <p *ngIf="product.description">
      {{ product.description }}
    </p>

    <button mat-raised-button color="accent" *ngIf="loggedIn"  (click)="addToBookmarks(this.userId, product);">
      <mat-icon>favorite</mat-icon>
      Add to bookmarks!
    </button>

    <button mat-flat-button color="primary" *ngIf="product.userId == this.userId" [routerLink]="['/edit', product.productId]"><mat-icon>edit</mat-icon> Edit</button>
    <button mat-flat-button color="primary"  [routerLink]="['/product', product.productId]">Detail</button>
    <button mat-flat-button color="primary" *ngIf="!(product.userId == this.userId)" [routerLink]="['/buy', product.productId]">Buy</button>

  </mat-card>
</div>
<div *ngIf="products.length === 0">No Products available. </div>
<!--
[disabled]="this.checkBookmarked(product) || product.isBookmarked"
-->
