

.footer{
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: auto;
  min-height: 5vh;
}

.max-spacer{
  flex: 1 1 auto;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  min-height: 85vh;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: var(--primary);
  text-decoration: none;
}

.round {
  padding: 0 16px;
  min-width: 25vw;
  margin: 0;
  line-height: 40px;
  border-radius: 20px;
  border-style: none;
  background: var(--primary);
  color: var(--accent)
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
*:focus {
  outline: none;
}

