
<mat-toolbar color="accent">
  <a routerLink="/">ESE-2020 Team 7</a>
  <label>
    <input class="round" [(ngModel)]="searchText" name="text"
           placeholder="Search Products">
  </label>
  <button mat-icon-button (click)="searchForNewKey()"><mat-icon>search</mat-icon></button>

  <span class="max-spacer"></span>

  <button mat-button routerLink="/add-offer">
    <mat-icon>add_circle</mat-icon>  List a new offer</button>

  <div *ngIf="!loggedIn">
    <button mat-button routerLink="/login">Login</button>
    <button mat-flat-button color="warn" routerLink="/registration">Register</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>
        account_circle
      </mat-icon>
      {{userName}}
      <mat-icon>
        arrow_drop_down
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu-overflow-hidden">
      <button mat-menu-item style="margin-left: 0 !important;" routerLink="/user-products"><mat-icon>local_offer</mat-icon>My products</button>
      <button mat-menu-item style="margin-left: 0 !important;" (click)="logout()"><mat-icon>login</mat-icon>Logout</button>
      <button mat-menu-item style="margin-left: 0 !important;" routerLink="/settings"><mat-icon>settings</mat-icon>Settings</button>
    </mat-menu>
  </div>

  <div *ngIf="isAdmin">
    <button mat-flat-button routerLink="/admin">Admin</button>
  </div>

</mat-toolbar>

<router-outlet class="content"></router-outlet>

<!-- ***************** farbschema demo **********************-->

<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">accent</button>
<button mat-flat-button color="warn">warn</button>
