
<mat-tab-group animationDuration="800ms">

  <mat-tab label="Catalog">
    <p></p>
    <h1>Current Listings</h1>
    <app-catalog></app-catalog>
  </mat-tab>

  <!--
  <mat-tab label="Todo List Example">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="List Name" [(ngModel)]="newTodoListName" name="name">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="onListCreate()" [disabled]="newTodoListName === ''">Create new list</button>
    </mat-card>

    <app-todo-list
      *ngFor="let todoList of todoLists" [todoList]="todoList"
      (update)="onListUpdate($event)"
      (delete)="onListDelete($event)"
    ></app-todo-list>
  </mat-tab>
  -->

  <!--
  <mat-tab label="Admin-Panel">
    <app-admin-panel></app-admin-panel>
  </mat-tab>
  -->

  <mat-tab label="My Bookmarks">
    <app-bookmarks></app-bookmarks>
  </mat-tab>

</mat-tab-group>
