<!--
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Confirm Added Products
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <mat-selection-list #products>
        <mat-list-option *ngFor="let products of addedProducts">
          {{products}}
        </mat-list-option>
      </mat-selection-list>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
-->

<h1>Review products</h1>
<app-unapproved-products
  *ngFor="let product of products" [product]="product"
  (update)="approve($event)"
  (delete)="reject($event)"
></app-unapproved-products>
<div *ngIf="products.length === 0">There are currently no products to be reviewed.</div>
