<!--
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Confirm Added Products
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <mat-selection-list #products>
        <mat-list-option *ngFor="let products of addedProducts">
          {{products}}
        </mat-list-option>
      </mat-selection-list>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
-->

<div *ngFor="let product of products">
  <mat-card>
    <h2>
      <a [title]="product.title + ' details'">
        {{ product.title }}
      </a>
      <span class="redText">
        <b>{{ product.price }}CHF</b>
      </span>
    </h2>

    <p *ngIf="product.description">
      {{ product.description }}
    </p>

    <button mat-flat-button color="primary" (click)="approve(product)">Approve</button>

    <button *ngIf="!rejectField" mat-flat-button color="primary" (click)="openReject()">Reject</button>

    <div *ngIf="rejectField">
      <mat-form-field>
        <input matInput placeholder="Rejection reason" [(ngModel)]="rejectionReason" name="name">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="reject(product)">Send</button>
    </div>
  </mat-card>
</div>
<div *ngIf="products.length === 0">No Products to be reviewed.</div>
