<mat-card>
  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userNameOrMail" name="userName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <div *ngIf="loginError" class="error">
      {{ errorMessage }}
    </div>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userNameOrMail }}
  </div>
</mat-card>

<app-admin-panel *ngIf="isAdmin"></app-admin-panel>
<mat-card>
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}
</mat-card>
