<div class="content">
<mat-card>
  <div *ngIf="!loggedIn">
    <mat-form-field>
      <label>
        <input matInput placeholder="User Name" (keyup.enter)="login()" [(ngModel)]="userNameOrMail" name="userName">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput placeholder="Password" (keyup.enter)="login()" [(ngModel)]="password" name="password" type="password">
      </label>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <div *ngIf="loginError" class="error">
      Username/E-mail or password is incorrect.
    </div>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userNameOrMail }}
  </div>
</mat-card>
</div>
