<div class="main-div">
  <mat-card>
    <div *ngIf="!loggedIn">
      <h2>You have no permission to visit this page. Please <a routerLink="/login" class="link">log in</a> to edit a listing.</h2>
    </div>
    <div *ngIf="loggedIn">
      <div *ngIf="!submissionDone">
        <form [formGroup]="userForm">
          <div class="form-group">
            <!-----------------------------------------------------------------------------------------------TITLE----->
              <br *ngIf="!(submitted && f.userName.errors)" class="invalid-feedback">
              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required" style="color:#ff0000; font-size:13px;">Username is required</div>
              </div>
              <mat-form-field appearance="fill" style="width: 250px;">
                <mat-label>Listing Name</mat-label>
                <label>
                  <input matInput
                         type="text"
                         formControlName="userName">
                </label>
              </mat-form-field>
            </div>
          <hr><hr><br>
        </form>

        <button mat-flat-button color="warn" (click)="edit()">Submit</button>
        <br>
      </div>

      <div *ngIf="error" class="error">
        {{ errorMessage }}
      </div>

      <div *ngIf="submissionDone">
        Thank you for your edit. It will be reviewed by an admin. <br><br>
      </div>
    </div>
  </mat-card>
</div>
