<div class="main-div">
  <mat-card>
    <div *ngIf="!submissionDone">
      <form [formGroup]="productForm">
        <div class="form-group">

          <mat-form-field appearance="fill">
            <mat-label>Listing Name</mat-label>
            <input matInput
                   type="text"
                   formControlName="title">
          </mat-form-field>

          <br><hr><br>

          <p>What's the type of your listing?</p>
          <mat-radio-group formControlName="type">
            <mat-radio-button value="Product">Product</mat-radio-button>
            <mat-radio-button value="Service">Service</mat-radio-button>
          </mat-radio-group>

          <br><hr><br>

          <mat-form-field>
            <label>
              <input matInput
                     type="number"
                     placeholder="Price"
                     formControlName="price"/>
            </label>
            <span matSuffix>CHF</span>
          </mat-form-field>

          <br><hr><br>

          <p>Write a description of your listing:</p>
          <mat-form-field appearance="outline">
            <label>
            <textarea matInput
                      type="text"
                      formControlName="description"
                      rows="5"
                      cols="120"></textarea>

            </label>
          </mat-form-field>

          <br><hr><br>

          <mat-form-field>
            <label>
              <input matInput
                     type="text"
                     placeholder="Location"
                     formControlName="location"/>
            </label>
          </mat-form-field>

          <br><hr><br>

          <p>Is your listing to sell or lend a product?</p>
          <mat-radio-group formControlName="isSelling" >
            <mat-radio-button value=true>Sell</mat-radio-button>
            <mat-radio-button value=false>Lend</mat-radio-button>
          </mat-radio-group>

          <br><hr><br>

          <p>Is it deliverable?</p>
          <mat-radio-group formControlName="isDeliverable" >
            <mat-radio-button value=true>Yes</mat-radio-button>
            <mat-radio-button value=false>No</mat-radio-button>
          </mat-radio-group>
        </div>
        <br><br><hr><hr><br>
      </form>

      <button mat-flat-button color="warn" (click)="submit()">Submit</button>
      <button mat-raised-button (click)="productForm.reset()">Reset</button>
      <br>
    </div>

    <div *ngIf="error" class="error">
      {{ errorMessage }}
    </div>

    <div *ngIf="submissionDone">
      Thank you for your submission. It will be reviewed by an admin. <br><br>
      <button mat-flat-button color="warn" (click)="newSubmission()">Make a new submission</button>
    </div>
  </mat-card>
</div>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput type="text"
           formControlName="title" placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>


