<div class="main-div">
<mat-card>

 <!-- <form [formGroup]="productForm"> -->

    <mat-form-field appearance="fill">
      <mat-label>Listing Name</mat-label>
        <input matInput name="name">
    </mat-form-field>

    <br><hr><br>

    <p>What's the type of your listing?</p>
    <mat-radio-group [formControl]="floatLabelControl">
      <mat-radio-button value="Product">Product</mat-radio-button>
      <mat-radio-button value="Service">Service</mat-radio-button>
    </mat-radio-group>

    <br><hr><br>

    <mat-form-field>
      <input matInput placeholder="Price" name="name">
      <span matSuffix>CHF</span>

    </mat-form-field>

    <br><hr><br>

    <p>Write a description of your listing:</p>
    <mat-form-field appearance="outline">
      <textarea matInput id="desc" name="descr" rows="5" cols="120"></textarea>
    </mat-form-field>


    <br><hr><br>

    <mat-form-field>
      <input matInput placeholder="Location" name="name">
    </mat-form-field>

    <br><hr><br>

    <p>Is your listing to sell or lend a product?</p>
  <mat-radio-group [formControl]="floatLabelControl">
    <mat-radio-button value=true>Sell</mat-radio-button>
    <mat-radio-button value=false>Lend</mat-radio-button>
  </mat-radio-group>

    <br><hr><br>

    <p>Is it deliverable?</p>
  <mat-radio-group [formControl]="floatLabelControl">
    <mat-radio-button value=true>Yes</mat-radio-button>
    <mat-radio-button value=false>No</mat-radio-button>
  </mat-radio-group>

    <br><br><hr><hr><br>
 <!-- </form>-->
  <button mat-flat-button color="warn">Submit</button>

 <!-- <button mat-flat-button color="warn"(click)="submit()">Submit</button> -->

  <button mat-flat-button color="primary">Cancel</button>

  <br>
</mat-card>
</div>


