
<div class="content">
<form>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a location</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="location" >
        <mat-option *ngFor="let location of locations" [value]="location" (click)="search()">
          {{location}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sort By </mat-label>
      <mat-select [(ngModel)]="sortBy" name="location" >
        <mat-option [value]=0 (click)="search()">newest</mat-option>
        <mat-option [value]=1 (click)="search()">oldest</mat-option>
        <mat-option [value]=2 (click)="search()">price lowest</mat-option>
        <mat-option [value]=3 (click)="search()">price highest</mat-option>
      </mat-select>
    </mat-form-field>

    <label>
      <input type="text" [(ngModel)]="min" name="range"
             placeholder="Min." >
    </label>

    <label>
      <input type="text" [(ngModel)]="max" name="range"
             placeholder="Max.">
    </label>
    <button mat-flat-button color="primary" [disabled]="min === null && max === null" (click)="search()">Apply</button>

    <mat-button-toggle-group [(ngModel)]="isSelling" name="fontStyle" aria-label="Font Style" >
      <mat-button-toggle  [value]="true" (click)="search()">BUY</mat-button-toggle>
      <mat-button-toggle [value]="false" (click)="search()">RENT</mat-button-toggle>
      <mat-button-toggle (click)="search()">ALL</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group [(ngModel)]="isDeliverable" name="fontStyle" aria-label="Font Style" >
      <mat-button-toggle  [value]="true" (click)="search()">DELIVERABLE</mat-button-toggle>
      <mat-button-toggle [value]="false" (click)="search()">UNDELIVERABLE</mat-button-toggle>
      <mat-button-toggle (click)="search()">ALL</mat-button-toggle>

    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="isProduct" name="fontStyle" aria-label="Font Style" >
      <mat-button-toggle  [value]="true" (click)="search()">PRODUCTS</mat-button-toggle>
      <mat-button-toggle [value]="false" (click)="search()">SERVICES</mat-button-toggle>
      <mat-button-toggle (click)="search()">ALL</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-flat-button color="accent" (click)="reset()">RESET</button>



  </div>

</form>

<div *ngFor="let product of products">
  <mat-card>
    <h2>
      <a [title]="product.title + ' details'">
        {{ product.title }}
      </a>
      <span class="redText">
        <b>CHF {{ product.price | number:'1.2-2' }}</b>
      </span>
    </h2>

    <p *ngIf="product.description">
      {{ product.description }}
    </p>

    <button mat-raised-button color="accent" *ngIf="loggedIn" [disabled]="this.checkBookmarked(product) || product.isBookmarked" (click)="addToBookmarks(product);">
      <mat-icon>favorite</mat-icon>
      Add to bookmarks!
    </button>
    <button mat-flat-button color="primary" *ngIf="product.userId == this.userId" [routerLink]="['/edit', product.productId]"><mat-icon>edit</mat-icon> Edit</button>
    <button mat-flat-button color="primary"  [routerLink]="['/product', product.productId]">Detail</button>
    <button mat-flat-button color="primary" *ngIf="!(product.userId == this.userId)" [routerLink]="['/buy', product.productId]">Buy</button>

  </mat-card>
</div>
<div *ngIf="products.length == 0">
  <mat-card style="background: var(--accent-light)">
    Could not find any products for <b><em>{{searchText}}</em></b>
  </mat-card>
</div>
</div>

