
<label for="site-search"></label>
<input type="search" id="site-search" [(ngModel)]="searchText" name="q"
       aria-label="Search through site content" placeholder="Search Products" size="60">
<button mat-icon-button (click)="search()"><mat-icon>search</mat-icon></button>

<div *ngFor="let product of products">
  <mat-card *ngIf="searchText">
    <h2>
      <a [title]="product.title + ' details'">
        {{ product.title }}
      </a>
      <span class="redText">
        <b>{{ product.price }}CHF</b>
      </span>
    </h2>

    <p *ngIf="product.description">
      {{ product.description }}
    </p>

    <button mat-flat-button color="primary"  [routerLink]="['/product', product.productId]">Detail</button>

  </mat-card>
</div>
