.error {
  color: red;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: max-content;
  height: fit-content; /* Make this site really long */
  overflow:hidden
}


.mat-card {
  width: max-content;
  alignment: top;
}

