.error {
  color: red;
  font-size:13px;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: fit-content; /* Make this site really long */
  overflow:hidden
}


.mat-card {
  width: fit-content;
  alignment: top;
}

.inline-block {
  display: inline-block;
  width: 35%;
  margin-left: 20px;
  margin-right: 30px;
  vertical-align:top;
}

.mat-form-field{
  width: 250px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted red; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  right: 105%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
