.error {
  color: red;
  font-size:13px;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: fit-content; /* Make this site really long */
  overflow:hidden
}


.mat-card {
  width: 80%
}

