/* You can add global styles to this file, and also import other style files */

/* definition of the color variables beneath angular materials */
/* reach the color with var(--primary) */
:root {
  --primary: #355c76;
  --accent: #ffc400;
  --accent-light: #ffe082;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

.menu-overflow-hidden {
  overflow: hidden !important;
}
