.content{
  width: 70vw;
}

.mat-card {
  width: 50%;
  alignment: top;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.link{
  color: deepskyblue;
  text-decoration: none;
}

:disabled {
  color: black;
}


