<div *ngFor="let product of localBookmarks">
  <mat-card>
    <h2>
      <a [title]="product.title + ' details'">
        {{ product.title }}
      </a>
      <span class="redText">
        <b>{{ product.price }}CHF</b>
      </span>
    </h2>
    <p *ngIf="product.description">
      {{ product.description }}
    </p>
    <button mat-flat-button color="primary" (click)="deleteBookmarksItem(product)">
      Remove from bookmarks
    </button>
    <button mat-flat-button color="primary"  [routerLink]="['/product', product.productId]">Detail</button>
  </mat-card>
</div>
<div *ngIf="localBookmarks.length === 0">You have not added any products to your bookmarks yet!</div>
