<p>product-detail works!</p>
<mat-card>
<img  src="/assets/placeholder.png" alt="image" style="width:400px;height:400px; vertical-align:top; float: left">

<a class="information">
    <a style="font-size: 40px; font-weight: 400">{{product.title}}</a>
  <br><br>

  <p style="font-size: 20px;">{{product.description}}</p>
  <p style="font-size: 20px;">{{product.price}}CHF</p>

  <a *ngIf="product.isProduct">
    <p style="font-size: 20px;">Type: Product</p>
    <p style="font-size: 20px;"><a *ngIf="product.isSelling">Is for Sale</a><a *ngIf="!product.isSelling">Is for rent</a></p>
    <p style="font-size: 20px;"><a *ngIf="product.isDeliverable">Deliverable</a><a *ngIf="!product.isSelling">Not Deliverable</a></p>
  </a>
  <a *ngIf="!product.isProduct">
    <p style="font-size: 20px;">Type: Service</p>
  </a>

  <p style="font-size: 20px;">Seller: {{seller.userName}}</p>
</a>
<a class="buttons">
  <button mat-flat-button *ngIf="!(product.userId == this.userId)" color="primary" >Purchase</button>

  <app-add-to-shopping-cart *ngIf="!(product.userId == this.userId)"></app-add-to-shopping-cart>

  <button mat-flat-button color="primary" *ngIf="product.userId == this.userId" [routerLink]="['/edit', product.productId]">Edit</button>
</a>

</mat-card>


